* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
}
header {
  background-color: hsl(209, 23%, 22%);
  height: 70px;
  width: 100%;
}
header > h1 {
  padding: 20px;
  font-weight: 800;
  font-size: 25px;
}
body {
  background-color: hsl(207, 26%, 17%);
}
.searchFilter {
  margin: 15px 0 15px 0;
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  justify-content: space-between;
  margin-left: 105px;
  margin-top: 15px;
}
.search > input {
  background-color: hsl(209, 23%, 22%);
  border: none;
  border-radius: 5px;
  width: 450px;
  height: 50px;
  margin-left: -6px;
  outline: none;
  text-indent: 15px;
}
::placeholder {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.icon {
  background-color: hsl(209, 23%, 22%);
  height: 50px;
  width: 40px;
  border-radius: 5px;
}
.icon > i {
  padding: 16px;
}
select {
  margin-right: 95px;
  margin-top: 15px;
  background-color: hsl(209, 23%, 22%);
  height: 50px;
  width: 175px;
  outline: none;
  border-color: hsl(209, 23%, 22%);
  border-radius: 5px;
  text-indent: 15px;
}
select:active {
  border: none;
}
.cardsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 240px);
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 50px;
}
.cards {
  background-color: hsl(209, 23%, 22%);
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 5px;
}
.cards > img {
  width: 250px;
  height: 150px;
  border-radius: 5px 5px 0px 0px;
}
.texts {
  margin-bottom: 15px;
}
.cards > a,
.texts > p {
  margin-left: 15px;
}
.texts > p {
  font-size: 14px;
  font-weight: 600;
}
.texts > p > span {
  opacity: 70%;
  font-weight: 300;
  margin-left: 5px;
}
.icon1 {
  background-color: hsl(209, 23%, 22%);
  height: 50px;
  width: 40px;
  border-radius: 5px;
}
.icon1 > i {
  padding: 16px;
}
.button {
  display: flex;
  margin: 30px 0 15px 105px;
  display: none;
}
.back {
  background-color: hsl(209, 23%, 22%);
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 50px;
  margin-left: -5px;
  font-size: 17px;
  text-indent: -15px;
  font-weight: 600;
}
.flag {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: space-evenly;
}
img {
  width: 650px;
  height: 450px;
}
.cDetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}
p:nth-child(5) {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 40%;
}
.details {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.border{
  display: flex;
  align-items: center;
  gap: 10px;
}
.border p{
  font-size: 16px;
  font-weight: 600;
}
.borderName{
  background-color: hsl(209, 23%, 22%);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  font-size: 12px;
  font-weight: 800;
}
.cDetails > p{
  font-size: 16px;
  font-weight: 600;
}
.cDetails span{
  opacity: 70%;
  font-weight: 300;
  margin-left: 5px;
  font-size: 15px;
}